*.swp
*.log
/node_modules
/bower_components
/bwe-express/node_modules
/bwe-express/bower_components
/static/coffee/*.js
/static/coffee/*.map
/static/cb.html
/static/console.html
/static/coffee.out
/trace
/bwe-express/lib
/.c9
