doctype html

- prefix = "jscache";

html
    head
        link(href='cutbool.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='jscache/nv.d3.css')
        link(rel='stylesheet', href='jscache/style.min.css')

        script(src='jscache/jquery.js')
        script(src='jscache/mori.js')
        script(src='jscache/d3.js')
        script(src='jscache/nv.d3.js')
        script(src='jscache/jstree.js')
        script(src='jscache/BigInt_BigRat.min.js')

        meta(charset='utf-8')
        title CutBool Experiments
    body
        #inputs
        #compute_results(data-collapse='accordion persist')
            h1 Results
            div Empty
        script(src='coffee/cutbool.js')
