doctype html

html
    head
        link(href='cutbool.css', rel='stylesheet', type='text/css')

        script(src='/nodejs/mori/mori.js')
        script(src='/js/raphael/raphael-min.js')
        script(src='jscache/jquery.min.js')

        script(src='/js/d3/d3.js')
        link(rel='stylesheet', href='/js/nvd3/nv.d3.css')
        script(src='/js/nvd3/nv.d3.js')

        link(rel='stylesheet', href='/js/jstree/dist/themes/default/style.min.css')
        script(src='/js/jstree/dist/jstree.js')

        script(src='jscache/BigInt_BigRat.min.js')

        meta(charset='utf-8')
        title CutBool Experiments
    body
        #inputs
        #compute_results(data-collapse='accordion persist')
            h1 Results
            div Empty
        script(src='coffee.out/cutbool.js')
