doctype html

- prefix = "jscache";

html
    head
        link(href='cutbool.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='jscache/nv.d3.css')
        link(rel='stylesheet', href='jscache/style.min.css')

        include ./inc/jslib.jade

        meta(charset='utf-8')
        title CutBool Experiments
    body
        div
          #console_output
          //label(for="console_input")
          label(for="console_input") Console:
          input#console_input
        script(type='text/javascript').
            $(consoleMain)
        //script(src='coffee/cutbool.js')