doctype html

- prefix = "jscache";

html
    head
        link(href='cutbool.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='jscache/nv.d3.css')

        include ./inc/jslib.jade
        
        meta(charset='utf-8')
        title CutBool Experiments
    body
      script(type='text/coffeescript').
        dcmain = new DecompositionMainPage()
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Boolean Decomposition
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#') Dashboard
              li
                a(href='#') Settings
              li
                a(href='#') Profile
              li
                a(href='#') Help
            form.navbar-form.navbar-right
              input.form-control(type='text', placeholder='Search...')
      .container-fluid
        .row
          .col-sm-3.col-md-2.sidebar
            ul.nav.nav-sidebar
              li.active
                a(href='#decompGraph') Decomposition Graph
              li
                a(href='#decompTree') Decomposition Tree
              li
                a(href='#graph') Graph
            ul.nav.nav-sidebar
              li
                a(href='') Nav item again
              li
                a(href='') One more nav
              li
                a(href='') Another nav item
        .col-sm-9.col-sm-offset-3.col-md-8.col-md-offset-2.main
          #mainContent
