doctype html

html
  head
    title Boolean-width explorer
    include ./inc/jslib.jade
    link(rel='stylesheet', href='index.css')
body
  div
    #menu
      ul.tabs
        li
          a(href='#graphpane') Graph
        li
          a(href='#clustervis') Decomposition Dendrogram
        li
          a(href='#jstreevis') Decomposition Tree
        li
          a(href='#graphtext') Graph Text
        li
          a(href='#treetext') Decomposition Text
        li
          a(href='#debug') Debug
    #split
      .pane
        #graphpane.chart
          select#interaction_mode
            option(value='edit') Edit
            option(value='move') Move
          #graphvis
        #clustervis.chart
        #jstreevis.chart
        #graphtext.chart
          textarea(disabled='')
        #treetext.chart
          textarea(disabled='')
        #debug.chart
      #treevis.chart
    script(type='text/javascript').
        $(indexMain)