script(src='jscache/bitterset.js')
script(src='jscache/jquery.js')
script(src='jscache/spin.js')
script(src='jscache/mori.js')
script(src='jscache/d3.js')
script(src='jscache/nv.d3.js')
script(src='jscache/jstree.js')
script(src='jscache/BigInt_BigRat.min.js')
script(src='jscache/parseurl.js')
script(src='jscache/coffee-script.js')